$highlight: #125125;
body{
  background-color: #666666;
  #container{
    background-color: green;
    height: 1000px;
    .hezi{
      width: 500px;
      height: 500px;
      .desc{
        color: $highlight;
      }
    }
  }
}

